# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#my setup
*.zip
*.rar
*.pdf
README.txt
BLEstack.*

_iss
Accessories/
Documents/

BloodPressure/
CyclingSensor/
GlucoseCollector/
GlucoseSensor/
HeartRate/
HIDAdvRemote/
HIDAdvRemoteDongle/
HIDEmuKbd/
HostTestApp/
KeyFob/
Libraries/
OADManager/
RunningSensor/
SensorTag/
SimpleBLEBroadcaster/
SimpleBLECentral/
SimpleBLEObserver/
SimpleBLEPeripheral/
Thermometer/
TimeApp/
util/

# IAR irrelevant files
Exe/
List/
Obj/
*.dep
*.dni
*.wsdt